@media (max-width: 1200px) {
    .header__container {
        gap: 50px;
        min-height: 100px;
    }
    .menu-list {
        column-gap: 40px;
    }
    .main__image img {
        width: 100%;
    }
    .main__content {
        flex: 0 0 60%;
        padding-bottom: 0;
    }
    .main__decor {
        flex: 0 0 40%;
    }
    .categories__items {
        column-gap: 40px;
    }
    .reviews__swiper {
        margin-left: -15px;
    }
}

@media (max-width: 991.98px) {
    .main {
        padding-bottom: 50px;
    }
    .store {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .store__title {
        margin-bottom: 50px;
    }
    .body-store__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .categories__items {
        column-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
    .item-category__title {
        font-size: 35px;
    }
    .categories__title {
        margin-bottom: 50px;
    }
    .brands {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .brands__title {
        margin-bottom: 40px;
    }
    .brands__items {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
    }
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages__items {
        grid-template-columns: repeat(2, auto);
    }
    .reviews {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .reviews__title {
        margin-bottom: 50px;
    }
    .slide-swiper-reviews {
        flex-direction: column;
    }
    .slide-swiper-reviews__body {
        padding-left: 15px;
    }
    .slide-swiper-reviews__picture {
        margin-bottom: 25px;
    }
    .swiper-reviews__pagination {
        transform: translate(0px, 0px);
        padding-top: 30px;
        position: relative;
        bottom: 0;
        justify-content: center;
    }
    .favorite {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .favorite__container {
        flex-direction: column;
    }
    .favorite__title{
        font-size: 38px;
    }
    .favorite__title:not(:last-child){
        margin-bottom: 25px;
    }
}

@media (max-width: 767.98px) {
    .header__container {
        min-height: 65px;
    }
    .main {
        padding-bottom: 30px;
    }
    .main__decor {
        display: none;
    }
    .main__content {
        flex: 1 1 100%;
        padding-right: 0;
        padding-top: 80px;
    }
    .main-title {
        font-size: 44px;
    }
    .title {
        font-size: 38px;
    }
    .store {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .store__title {
        margin-bottom: 20px;
    }
    .body-store__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .item__image:not(:last-child){
        margin-bottom: 20px;
    }
    .categories {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .categories__title {
        margin-bottom: 20px;
    }
    .brands {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .brands__title {
        margin-bottom: 25px;
    }
    .brands__items {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        row-gap: 20px;
    }
    .advantages {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .advantages__items {
        justify-content: center;
        grid-template-columns: repeat(1, auto);
    }
    .advantages__item {
        align-items: center;
    }
    .reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .reviews__title {
        margin-bottom: 30px;
    }
    .favorite {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 479.98px) {
    .header__container {
        gap: 15px;
    }
    .menu__list {
        column-gap: 20px;
    }
    .header__logo {
        width: 28px;
        overflow: hidden;
        flex: 0 0 28px;
    }
    .menu {
        padding: 0;
    }
    .actions-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .actions-main__button {
        flex: 1 1 100%;
    }
    .actions-main__button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .categories__items {
        column-gap: 30px;
        row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .slide-swiper-reviews__image {
        width: 270px;
        height: 270px;
    }
    .slide-swiper-reviews__image::before {
        content: '';
        width: 225px;
        height: 187px;
    }
    .slide-swiper-reviews__text {
        font-size: 18px;
    }

}